{% extends "base.html" %}
{% block title %}Edit Marks{% endblock %}
{% block content %}
    <h2 class="my-4">Edit Marks</h2>
    <form method="POST" class="needs-validation" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.subject.label(class="form-label") }}
            {{ form.subject(class="form-control", size=32) }}
        </div>
        <div class="form-group">
            {{ form.marks.label(class="form-label") }}
            {{ form.marks(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
